
vision_key.json
images/Tree Top 100% Apple Juice, From Concentrate,.png
images/ROLD GOLD Tiny Pretzel Twists,.png
images/Pringles Potato Crisps Chips, Sour.png
images/Lay's Wavy Original Potato Chips, Party Size, 13.png
images/Cheetos Puffs Cheese Flavored Snacks,.png
images/Andy Capps Fries 8 oz..png
credentials.py
*.pyc
